@media screen and (max-width: 600px) {
    body {
        margin: 0;
        padding: 0;
        font-size: 16px;
    }

    /* Adjust the layout of your header for mobile view */
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* Adjust the layout of your navigation menu for mobile view */
    nav {
        display: flex;
        flex-direction: column;
    }

    /* Adjust the layout of your main content for mobile view */
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* Adjust the layout of your footer for mobile view */
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .banner {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-items {
        display: none;
    }

    .mobile-menu-items.show {
        display: block;
    }
    .mobile-menu-icon {
        display: block;
        margin-left: auto;
    }


    /* Style for test-lithuanian */
    .text-3xl {
        align-self: flex-start;
    }
    .dropdown-menu {
        display: none;
        position: absolute;
        right: 0;
        top: 100%;
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 10px;
    }
    
    .dropdown-menu.show {
        display: block;
    }
}

@media screen and (min-width: 600px) {
    .mobile-menu-icon {
        display: hidden;
    }
}
